body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

* {
  box-sizing: border-box;
}

.is-dark {
  background: #f7f7f7 !important;
}

.preview-transparent {
  background-image:
    linear-gradient(45deg, #f5f5f5 25%, transparent 25%),
    linear-gradient(-45deg, #f5f5f5 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #f5f5f5 75%),
    linear-gradient(-45deg, transparent 75%, #f5f5f5 75%) !important;
  background-size: 16px 16px !important;
  background-position: 0 0, 0 8px, 8px -8px, -8px 0 !important;
  background-color: #fff !important;
}

.inline-list {
  display: flex;
  align-items: flex-end;
}

.inline-list > * + * {
  margin-left: 10px;
}

.is-sidebar > div {
  width: 320px;
}

.is-content > div {
  width: 610px;
}
